body{
	font-family: 'Roboto', sans-serif;

}

.contentBlock{
	margin-bottom: 40px;
}

#meatloaf{
	font-size: 36px;
	line-height: 36px;
}

#firstParagraph{
	font-size: 24px;
	line-height: 32px;
}

.title{
	font-size: 32px;
	line-height: 32px;
}


.page{
	width: 900px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	line-height: 26px;
}

p{
	font-size: 20px;
	line-height: 26px;

}

.topnav{

  	background-color: lightgrey;
 	overflow: hidden;
 	 border: solid black 1px;
 	 margin-bottom: 20px;
  }

 
.topnav a{
	float: left;
	color: white;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 20px;

}

a:hover {
	color: #def6ed

}

img{
	height: 400px;

}

#ingredients li{
	margin-bottom: 10px;
}

#steps li{
	margin-bottom: 10px;
}

span{
	font-weight: bold;
}

#tip{
	background-color: #def6ed;
	border-radius: 4px;
	padding: 25px;
}