body{
	font-family: 'Roboto', sans-serif;

}

#meatloaf{
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;

}

#ingredients{
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
}

#preparation{
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
}

div{
	width: 600px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	line-height: 26px;
}

p{
	

}

.topnav{

  	background-color: lightgrey;
 	overflow: hidden;
 	 border: solid black 1px;
 	 margin-bottom: 20px;
  }

 
.topnav a{
	float: left;
	color: white;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 20px;

}

a:hover {
	color: #def6ed

}

img{
	height: 400px;

}

span{
	border: solid #def6ed 4px;
	background-color: #def6ed;
}